In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import joblib

In [28]:
df=pd.read_csv("../data.csv")
df

   var1  var2  var3  var4  var5  output
0     1     3     7     3     2    16.0
1     2     6    14     6     4    32.0
2     3     9    21     9     6    48.0
3     4    12    28    12     8    64.0
4     5    15    35    15    10    80.0
5     6    18    42    18    12     NaN
6     7    21    49    21    14     NaN
7     8    24    56    24    16     NaN
8     9    27    63    27    18     NaN

In [33]:
X=df.loc[:,df.columns!='output'].head()
X
y=df['output'].head(5)
lr=LinearRegression().fit(X,y)
lr.score(X,y)
X1=X.tail(4)
X

   var1  var2  var3  var4  var5
1     2     6    14     6     4
2     3     9    21     9     6
3     4    12    28    12     8
4     5    15    35    15    10

In [41]:
X1=df.loc[:,df.columns!='output'].tail()
lr.predict([[2,4,4,4,6]])

C:\Users\sreek\AppData\Local\Continuum\anaconda3\envs\mlops\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([14.66666667])

In [20]:
a=df.loc[:,df.columns=='output']
a=df['output']
a

0    16
1    32
2    48
3    64
4    80
Name: output, dtype: int64

In [37]:
joblib.dump(lr,'inear_regression_model.pkl')

['inear_regression_model.pkl']