# Functions

In [3]:
num=11
if num%2==0:
    print('even')
else:
    print('odd')

odd

In [6]:
def my_fun(num1):
    if num%2==0:
        print('even')
    else:
        print('odd')   
        
my_fun(3)

odd

In [10]:
#PRINT vs Retuen

def m_f():
    return ('Hello')
val=m_f()
val

'Hello'

In [16]:
def add_num(a,b=4):
    return a+b

sum=add_num(2)
sum

6

In [21]:
def hello(name,age=25):
    print('my name is {} and age is {}'.format(name,age))
    
hello('Test')

my name is Sree and age is 25

In [27]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)
    
hello('ada','adad',age=30,num=77)

('ada', 'adad')
{'age': 30, 'num': 77}

In [29]:
lst=['ada', 'adad']
dic={'age': 30, 'num': 77}

In [31]:
hello(lst,**dic)

(['ada', 'adad'],)
{'age': 30, 'num': 77}

In [37]:
num=[2,4,52,5,45,345,43,5,3]


def evenOrodd(n):
    even_sum=0
    odd_sum=0
    for i in n:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i
    return even_sum,odd_sum
           
        
evenOrodd(num)

(58, 446)

In [42]:
#Lambda fun: Anynumousfun


sum=lambda a,b:a+b
sum(2,9.9)

11.9

In [47]:
a=lambda a:a%2==0 
a(61)

False

In [59]:

def evenOrodd(n):
        if n%2==0:
            return True
        else:
            return False

In [54]:
#MAp fun == Used to itrate the whole fun one by one at a time
lst=[1,2,3,4,5,6,7,8,9,0]
list(map(evenOrodd,lst))

[False, True, False, True, False, True, False, True, False, True]

In [60]:
#Filter = samne like a map(),, but returns only teh true values

list(filter(evenOrodd,lst))

[2, 4, 6, 8, 0]

In [64]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 0]

In [69]:
#List Comprehension

a=[i*i for i in lst]

In [71]:
a_even=[i*i for i in lst if i%2==0]
a_even

[4, 16, 36, 64, 0]

# String Formatting

In [79]:
def gret(name,age):
    return 'hello {name}. Welcome to the year {num} !..'.format(num=age,name=name)
gret('sree',29)

'hello sree. Welcome to the year 29 !..'

# Iterables (List) vs Iterators (iter)

In [116]:
lst1=iter(lst)
next(lst1)

1

In [118]:
next(lst1)

3

In [119]:
for i in lst1:
    print(i)

4
5
6
7
8
9
0

In [82]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]