## Chi-Square test

- A chi-square test is a statistical test used to compare observed results with expected results. The purpose of this test is to determine if a difference between observed data and expected data is due to chance,.

In [1]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
dataset=sns.load_dataset('tips')

In [4]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
dataset_table.values

array([[60, 97],
       [33, 54]], dtype=int64)

In [7]:
obserr_val=dataset_table.values

In [8]:
val=stats.chi2_contingency(dataset_table)

In [9]:
val

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [11]:
exp_val=val[3]
exp_val

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [21]:
no_r=len(dataset_table.iloc[0:2,0])
no_c=len(dataset_table.iloc[0:0:2])
deg_freedom=(no_r-1)*(no_c-1)
print('Degree of freedom :',deg_freedom)
alpha=0.05

Degree of freedom : -1

In [22]:
from scipy.stats import chi2
chi_sqr=sum([(o-e)**2/e for o,e in zip(obserr_val,exp_val)])
chi_sqr_stata=chi_sqr[0]+chi_sqr[1]

In [23]:
chi_sqr_stata

0.001934818536627623

In [24]:
critical_val=chi2.ppf(q=1-alpha,df=deg_freedom)
print('criciital_Val :',critical_val)

criciital_Val : nan