# Lung_cancer Prediction using various ML models

## Import lung_cancer data from CSV file

 > Import Data and Required Packages

In [11]:
from sklearn.linear_model import LogisticRegression
import pandas  as pd

# Reading the data
data=pd.read_csv("lung_cancer_examples.csv")
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [4]:
data.describe

<bound method NDFrame.describe of            Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0>

In [12]:
"""check for null values"""
data.isnull().sum()

Name       0
Surname    0
Age        0
Smokes     0
AreaQ      0
Alkhol     0
Result     0
dtype: int64

In [13]:
'''drop unnecessary columns'''
data=data.drop(columns=['Name','Surname'])
data.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

## LogisticRegression

In [ ]:
from sklearn.model_selection import train_test_split
y=data['Result']
X=data.drop(columns='Result')


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
classifier=LogisticRegression()
classifier.fit(X_train,y_train)

y_pred=classifier.predict(X_test)

## KNN Claassifier

In [17]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score


clas=KNeighborsClassifier(n_neighbors=5)
clas.fit(X_train,y_train)

y_knn_predict=clas.predict(X_test)
y_knn_predict

cm=confusion_matrix(y_test,y_knn_predict)
cm

array([[7, 1],
       [0, 4]], dtype=int64)

In [18]:
clas.score(X_test,y_test)

0.9166666666666666

In [21]:
y_pred

array([0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [7]:
y_test

26    0
35    0
43    1
28    1
11    0
2     0
34    0
46    0
40    1
22    0
4     1
10    0
Name: Result, dtype: int64

In [8]:
from sklearn.metrics import confusion_matrix,accuracy_score
acc=accuracy_score(y_test,y_pred)
print(acc)
cm=confusion_matrix(y_test,y_pred)
cm

1.0

array([[8, 0],
       [0, 4]], dtype=int64)

In [25]:
y_train.head()

30    0
41    0
33    1
42    1
48    1
Name: Result, dtype: int64

In [26]:
Xtr,Xte,ytr,yte=train_test_split(X,y)
print(Xtr.shape)
print(Xte.shape)

(44, 4)
(15, 4)

In [27]:
ytr.head()

4     1
39    0
40    1
12    0
17    0
Name: Result, dtype: int64

In [12]:
Xte

    Age  Smokes  AreaQ  Alkhol
12   25       2      5       1
11   18      10      6       3
55   77      20      5       4
16   42      22      3       5
23   44       5      8       1
2    30       0      5       2
42   69      20      5       4
13   28      20      2       8
44   39      15      7       2
24   77       3      2       6
3    28       0      8       1
31   56      20      3       3
47   28      10      4       1
14   34      25      4       8
29   40      20      2       7

# SVM

In [21]:
from sklearn.svm import SVC

SVCClassifier=SVC(kernel='rbf')
SVCClassifier.fit(X_train,y_train)

y_svc_predict=SVCClassifier.predict(X_test)
confusion_matrix(y_test,y_pred)

array([[8, 0],
       [0, 4]], dtype=int64)

In [23]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         8
           1       1.00      1.00      1.00         4

    accuracy                           1.00        12
   macro avg       1.00      1.00      1.00        12
weighted avg       1.00      1.00      1.00        12

In [25]:
score=SVCClassifier.score(X_test,y_test)
score

1.0

# Naive Bayes

In [27]:
from sklearn.naive_bayes import GaussianNB
classifier_NB=GaussianNB()
classifier_NB.fit(X_train,y_train)
pred=classifier_NB.predict(X_test)
pred

array([0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [29]:
confusion_matrix(y_test,pred)

array([[8, 0],
       [0, 4]], dtype=int64)

In [30]:
classifier_NB.score(X_test,y_test)

1.0

## DecisionTreeClassifier

In [35]:
from sklearn.tree import DecisionTreeClassifier

class_dt=DecisionTreeClassifier(random_state=9)
class_dt.fit(X_train,y_train)
y_pred_df=class_dt.predict(X_test)
confusion_matrix(y_test,y_pred_df)

class_dt.score(X_test,y_test)

0.9166666666666666

## Random forest classifer

In [43]:
from sklearn.ensemble import RandomForestClassifier

rf_class=RandomForestClassifier(n_estimators=100,random_state=9,n_jobs=-1)
rf_class.fit(X_train,y_train)

rf_pred=rf_class.predict(X_test)
rf_pred

array([0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0], dtype=int64)

In [44]:
confusion_matrix(y_test,y_pred)
rf_class.score(X_test,y_test)

0.9166666666666666